<div class="footer-container">
  <label>Developed by Cadu Olivera</label>
  <div class="d-flex footer-social">
    <a
      target="_blank"
      href="https://github.com/carlosedof">
      <i class="fa fa-github"
         routerLink="/view"
         aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/carlos-eduardo-olivera-filho-89a632110/">
      <i class="fa fa-linkedin"
         routerLink="/view"
         aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://www.instagram.com/oliveracadu/">
      <i class="fa fa-instagram"
         aria-hidden="true"></i>
    </a>
  </div>
</div>
